@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Do+Hyeon&family=Dongle&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Odibee+Sans&display=swap');
:root {
    --white: #fff5de;
    --yellow: #e0eb8d;
    --lime: #bad451;
    --green: #549c5d;
    --seafoam: #acd2bd;
    --slate: #3d575c;
    --blue: #2f3847;
    --black: #1b101f;
    --dark: #515262;
    --red: #d23c4f;
    --main: 'Noto Sans KR';
    --title: 'Odibee Sans', 'Do Hyeon';
    --rounded: 'Comfortaa', 'Dongle';
}

body {
    background: var(--slate);
    font-family: var(--main);
    height: 100vh;
    width: 100vw;
}

.navbar {
    background-color: var(--black);
}

.nav-link {
    color: var(--seafoam)!important;
}

.nav-link i {
    font-size: 1.2em;
}

.nav-link:hover {
    color: var(--yellow)!important;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: var(--white);
}

div#maincont {
    margin-top: 1em;
}

div.col {
    padding: 1em 0;
}

.w400 h1 {
    font-family: var(--title);
    font-size: 4em;
}

.link-group {
    max-width: 40em;
    background-color: var(--blue);
    margin: 2em auto;
    padding: 0.5em 1em 1em 1em;
}

.linkbox {
    display: inline;
    padding: 0 0 0 1.5em;
}

.linkbox a {
    background-color: var(--seafoam);
    padding: 0.1em 0.2em;
    text-decoration: none;
    color: var(--black);
}

.linkbox a:hover {
    background-color: var(--yellow);
}

.w400 {
    margin: 1em auto;
    color: var(--black);
}

.headernav {
    margin: 0.5em 0;
}

h4.linktitle {
    color: var(--white);
    font-family: var(--rounded);
}

.reviewcontainer {
    margin: 3em auto 0 auto;
    background: var(--white);
    padding: 0;
}

.review {
    padding: 1em;
}

#reviewinfo {
    margin: 1em;
}

#reviewinfo h1,
h4 {
    font-family: var(--title);
    letter-spacing: 0.1em;
}

#reviewinfo h1 {
    font-size: 4em;
    margin: 0;
}

#reviewinfo h4 {
    font-size: 3em;
}

#reviewinfo span {
    background: var(--seafoam);
    padding: 0 0.2em;
    color: var(--dark);
    font-family: var(--rounded);
    font-weight: 600;
}

.review span.highlight {
    background: var(--yellow);
    padding: 0 0.2em;
}

.container img {
    width: 100%;
}

.aboutscreen {
    padding: 0;
}

.aboutcont {
    padding: 0;
    margin-top: 10em;
}

.aboutbox .row {
    justify-content: center;
    margin-top: 5em;
    color: var(--black);
}

.aboutexit .btn {
    background-color: var(--red);
    text-align: center;
    font-family: var(--rounded);
    color: var(--white);
    font-size: 1.3em;
    margin: 2em;
    border: none;
    font-weight: 700;
}

.aboutexit .btn:hover {
    background-color: var(--lime);
    color: var(--black)
}

.col button {
    border: none;
    background-color: var(--seafoam);
    color: var(--black);
    border-radius: 0;
}

.col button:hover {
    background-color: var(--lime);
    color: var(--black);
}

.col-3#pfp {
    background-color: var(--seafoam);
    margin: 0;
    padding: 0;
    max-height: 15em;
}

.col-3#pfp img {
    height: calc(100% - 1em);
    width: calc(100% - 1em);
    margin-top: 0.5em;
    object-fit: cover;
}

.container .col-8 {
    background-color: var(--seafoam);
}

#links {
    margin: 0;
}

div#links div.col {
    padding: 0;
}

#abouttxt {
    margin: 0;
    max-height: 15em;
    padding: 0.5em;
}

.aboutscreen {
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #515262c4;
}

#aboutquote {
    margin: 0;
    height: 7em;
}

#aboutquote h1 {
    font-family: var(--title);
    margin: 0;
}

.card {
    max-width: 20em;
    border-radius: 0.5em;
    background-color: var(--white);
    min-height: 20em;
}

.card img {
    border-radius: 0.5em;
    width: calc(100% - 2em);
    object-fit: cover;
    margin: 1em 1em 0 1em;
}

.card i {
    font-size: 7em;
    color: var(--dark);
    line-height: 0.7em;
}

.card i:hover {
    color: var(--lime);
}

.cardpic {
    margin: 0;
    padding: 0;
    max-width: 400px;
}

.card {
    margin-top: 1em;
    cursor: pointer;
}

.cardtitle {
    display: block;
    margin-bottom: 1em;
    font: var(--rounded);
    color: var(--dark);
    font-weight: 600;
    font-size: 1.5em;
}

.carousel-inner a {
    text-decoration: none;
}

#maincont {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#headerabt {
    cursor: pointer;
}

.accordion-item {
    font-family: var(--rounded);
    background-color: var(--seafoam);
}

.accordion-button {
    background-color: var(--blue);
    color: var(--white);
}

.accordion-button:not(.collapsed) {
    background-color: var(--slate);
    color: var(--yellow);
}

.accordion-button {
    font-weight: 600;
}

.accordion i {
    font-size: 1.3em;
    padding-right: 0.5em;
}

.accordion-body i {
    font-size: 1em;
}

.accordion span.highlight {
    background: var(--yellow);
    padding: 0 0.2em;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.accordion-button::after {
    background-image: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
}

.footer {
    margin-top: 30vh;
}

small {
    font-size: 0.5em;
}